#header{
    background-color: #c7eede;
    font-family: 'Roboto Slab',helvetica,sans-serif;
    padding: 2%;
    text-align: center;
    border-top: 5px solid grey;
}
#head-text{
    font-size: 4em;
    text-shadow: 3px 5px 5px;
}
#nav{
    text-decoration: none !important;
    font-size: 1.3em !important;
}
ul{
    list-style: none;
}
li{
    float: left;
    padding: 15px;
    font-family: 'Play',helvetica,sans-serif;
    position: relative;
    background-color: azure;
    transition-duration: 0.3s;
}
li a{
    color: black;
}
li:hover a{
    color: #87cefa;
}
li:hover{
    background-color: #ffbeaa;
    color: dodgerblue;
    cursor: pointer;
}
ul li ul{
    position: absolute;
    transition-duration: 0.5s;
    margin-top: 1rem;
    display: none;
}
ul li:hover > ul,
ul li ul:hover{
    opacity: 1;
    display: block;
    position: absolute;
}
ul li ul li{
    width: 100%;
}
#first-big{
    color: #101050;
    font-family: 'Roboto Condensed',helvetica,sans-serif;
}
#main{
    padding: 2%; 
}
.autoplay{
    margin-left: 10%;
}
.slide{
    border: 3px solid #cedbae;
    padding: 0 !important;
    width: 1024px;
    height: 560px;
}