@font-face {
font-family:Entypo;
src:url(fonts/entypo.ttf) format(truetype),url(fonts/entypo.eot) format(embedded-opentype),url(fonts/entypo.svg) format(svg),url(fonts/entypo.woff) format(woff);
}

[class*="icon-"] {
font-family:Entypo;
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

* {
margin:0;
padding:0;
}

:focus {
outline:none;
}

*,:before,:after {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.cls:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

img {
border:0;
}

.debug {
border:1px solid red;
}

.text_left,.t-left {
text-align:left!important;
}

.text_right,.t-right {
text-align:right!important;
}

.text_center,.t-center {
text-align:center!important;
}

.pfixed {
position:fixed!important;
}

.f-left {
float:left;
}

.f-right {
float:right;
}

.column-left {
float:left;
width:49%;
}

.column-right {
float:right;
width:49%;
}

.column-33 {
width:32%;
}

.column-66 {
width:66%;
}

.w10p {
width:10%;
}

.w15p {
width:15%;
}

.w20p {
width:20%;
}

.w33p {
width:33%;
}

.w35p {
width:35%;
}

.w50p {
width:50%;
}

.w100p {
width:100%;
}

